@model ValueBid.Models.Listing
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Details";
}

@if(User.Identity.IsAuthenticated)
{
    @if(Model.IsSold==true)
    {
        @foreach(var bid in Model.Bids)
        {
            @if(bid.Price==Model.Price)
            {
                @if (bid.IdentityUserId == userManager.GetUserId(User))
                {
                    <h5>Congratulations, you are the winner!</h5>
                }
                else if (userManager.GetUserId(User) == Model.User.Id)
                {
                    <h5>@bid.User.UserName is the winner!</h5>
                }
                else
                {
                    <h5>Bidding is closed</h5>

                }
            }
        }
    }

}
<!--Details of Listing Object-->
<h4 style="text-align:center"> </h4>
<div class="container" style="background-color:rgba(138,129,133,0.6); margin-top:50px;padding:20px; border-radius:10px;">
    <div class="row">
        <div class="col col-xs-6 col-lg-5">
            <img src="~/Images/@Model.ImagePath" style="width:100%;height:60vh;" />
        </div>
        <div class="col col-xs-6 col-lg-7">
            <h5><a asp-action="Details" asp-route-itemid="@Model.Id" style="color:black;"> @Model.Title </a></h5>
            <div> @Model.Description</div>
            @if (User.Identity.IsAuthenticated)
            {

                <form asp-action="AddBid" method="post">
                <div>
                    <!--add bids greater than or equal to Price-->

                    Bid: $<input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" required />
                    
                    <!--Name of the user who submits the bid-->
                    <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)" />

                    <!--listingId-->
                    <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />
                    
                    @if (userManager.GetUserId(User) != Model.User.Id)
                        {
                            <input type="submit" class="btn btn-primary"/>

                        }
                        else
                        {

                            <input type="submit" class="btn btn-primary" disabled title="Item creator cannot bid" />

                            
                        }



                </div>
                </form>

                <!--Only viewed by the owner of the listing-->
                <p>Bids submitted: @Model.Bids.Count</p>

                <br />
                @if (userManager.GetUserId(User) == Model.User.Id)
                {
                    <!--viewing list of all bidder adn their given bid price-->
                    @foreach(var bid in Model.Bids)
                    {
                        <ul style="list-style-type:none;">
                            @bid.User.UserName bidded $@bid.Price.ToString("N2")
                        </ul>
                    }
                }
            }
            else
            {
                <div>
                    Bid: $<input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" />
                    <input disabled type="submit" class="btn btn-primary" />
                </div>
                <p>Bids submitted :@Model.Bids.Count</p>
            }
            <div>
                Listed by: @Model.User.UserName
            </div>
            @if(User.Identity.IsAuthenticated)
            {
            @if (userManager.GetUserId(User)==Model.User.Id)
            {
                    @if (Model.IsSold == false)
                    {
                        <!--close bidding if it isn't-->
                        <a asp-action="CloseBidding" asp-route-id="@Model.Id">Close Bidding</a>
                    }
                }
            }
        </div>
    </div>
</div>

<br />

<!--Add Comment section-->
@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <form asp-action="AddComment" method="post">
            <h6>Add Comment</h6>
            <textarea class="form-control" aria-label="With textarea" name="Content" style="width:40%; vertical-align:top;">
            </textarea>
            <!--Name of the user who submits the bid-->
            <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)" />

            <!--listingId-->
            <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />

            <input type="submit" class="btn btn-primary" style="display:inline-block; margin-top:10px;" />
        </form>
    </div>
}
else
{
    <div class="container">

            <h6>Add Comment</h6>
            <textarea class="form-control" aria-label="With textarea" name="Content" style="width:40%; vertical-align:top;">
                </textarea>
            
            <input type="submit" disabled class="btn btn-primary" style="display:inline-block; margin-top:10px;" />
    </div>
}

<br>
<!--view comments -->


<section style="background-color: #8A8185;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-body">

          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>



            @if(Model.Comments.Count()>0)
                {
                    @foreach(var comment in Model.Comments)
                    {
                        <div class="card-body p-4">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3"
                                             src="~/Images/User-Profile-PNG-Image.png" alt="avatar" width="40"
                                        height="40" />
                                <div>
                                    <h6 class="fw-bold mb-1">@(comment.User?.UserName ?? "unknown User")</h6>
                        
                                    <p class="mb-0">
                                        @(comment.Content ?? "No Content")
                                    </p>
                                </div>
                            </div>
                        </div>

                        <hr class="my-0" style="height: 1px;" />
                    }
                }
                else
                    {
                    <p>No Comments</p>
                    }
                    </div>
                </div>





            </div>
      </div>
    </div>
  </div>
</section>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
