@model ValueBid.Models.Listing
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Details";
}

@if(User.Identity.IsAuthenticated)
{
    @if(Model.IsSold==true)
    {
        @foreach(var bid in Model.Bids)
        {
            @if(bid.Price==Model.Price)
            {
                @if (bid.IdentityUserId == userManager.GetUserId(User))
                {
                    <h5>Congratulations, you are the winner!</h5>
                }
                else if (userManager.GetUserId(User) == Model.User.Id)
                {
                    <h5>@bid.User.UserName is the winner!</h5>
                }
                else
                {
                    <h5>Bidding is closed</h5>

                }
            }
        }
    }

}
<!--Details of Listing Object-->
<h4 style="text-align:center"> </h4>
<div class="container" style="background-color:rgba(138,129,133,0.6); margin-top:50px;padding:20px; border-radius:10px;">
    <div class="row">
        <div class="col col-xs-6 col-lg-5">
            <img src="~/Images/@Model.ImagePath" style="width:100%;height:60vh;" />
        </div>
        <div class="col col-xs-6 col-lg-7">
            <h5><a asp-action="Details" asp-route-itemid="@Model.Id" style="color:black;"> @Model.Title </a></h5>
            <div> @Model.Description</div>
            @if (User.Identity.IsAuthenticated)
            {

                <form asp-action="AddBid" method="post">
                <div>
                    <!--add bids greater than or equal to Price-->

                    Bid: $<input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" required />
                    
                    <!--Name of the user who submits the bid-->
                    <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)" />

                    <!--listingId-->
                    <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />
                    
                    @if (userManager.GetUserId(User) != Model.User.Id)
                        {
                            <input type="submit" class="btn btn-primary"/>

                        }
                        else
                        {

                            <input type="submit" class="btn btn-primary" disabled title="Item creator cannot bid" />

                            
                        }



                </div>
                </form>

                <!--Only viewed by the owner of the listing-->
                <p>Bids submitted: @Model.Bids.Count</p>

                <br />
                @if (userManager.GetUserId(User) == Model.User.Id)
                {
                    <!--viewing list of all bidder adn their given bid price-->
                    @foreach(var bid in Model.Bids)
                    {
                        <ul style="list-style-type:none;">
                            @bid.User.UserName bidded $@bid.Price.ToString("N2")
                        </ul>
                    }
                }
            }
            else
            {
                <div>
                    Bid: $<input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" />
                    <input disabled type="submit" class="btn btn-primary" />
                </div>
                <p>Bids submitted :@Model.Bids.Count</p>
            }
            <div>
                Listed by: @Model.User.UserName
            </div>
            @if(User.Identity.IsAuthenticated)
            {
            @if (userManager.GetUserId(User)==Model.User.Id)
            {
                    @if (Model.IsSold == false)
                    {
                        <!--close bidding if it isn't-->
                        <a asp-action="CloseBidding" asp-route-id="@Model.Id">Close Bidding</a>
                    }
                }
            }
        </div>
    </div>
</div>

<br />

<!--Add Comment section-->
@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <form asp-action="AddComment" method="post">
            <h6>Add Comment</h6>
            <textarea class="form-control" aria-label="With textarea" name="Content" style="width:40%; vertical-align:top;">
            </textarea>
            <!--Name of the user who submits the bid-->
            <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)" />

            <!--listingId-->
            <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />

            <input type="submit" class="btn btn-primary" style="display:inline-block; margin-top:10px;" />
        </form>
    </div>
}
else
{
    <div class="container">

            <h6>Add Comment</h6>
            <textarea class="form-control" aria-label="With textarea" name="Content" style="width:40%; vertical-align:top;">
                </textarea>
            
            <input type="submit" disabled class="btn btn-primary" style="display:inline-block; margin-top:10px;" />
    </div>
}

<br>
<!--view comments -->
<div class="container">
    <h6>Comments</h6>
    @foreach (var comment in Model.Comments)
    {
        <div style="border:1px solid lightgray; margin: 10px; padding: 10px; border-radius: 10px; width: 40%;">
            <p>@(comment.Content ?? "No content") - @(comment.User?.UserName ?? "Unknown user")</p>

        </div>
    }
</div>

<section style="background-color: #8A8185;">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-body">
          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Maggie Marsh</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 07, 2021
                    <span class="badge bg-primary">Pending</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                </div>
                <p class="mb-0">
                  Lorem Ipsum is simply dummy text of the printing and typesetting
                  industry. Lorem Ipsum has been the industry's standard dummy text ever
                  since the 1500s, when an unknown printer took a galley of type and
                  scrambled it.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(26).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Lara Stewart</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 15, 2021
                    <span class="badge bg-success">Approved</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="text-success"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-danger"><i class="fas fa-heart ms-2"></i></a>
                </div>
                <p class="mb-0">
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It
                  has roots in a piece of classical Latin literature from 45 BC, making it
                  over 2000 years old. Richard McClintock, a Latin professor at
                  Hampden-Sydney College in Virginia, looked up one of the more obscure
                  Latin words, consectetur, from a Lorem Ipsum passage, and going through
                  the cites.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(33).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Alexa Bennett</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 24, 2021
                    <span class="badge bg-danger">Rejected</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                </div>
                <p class="mb-0">
                  There are many variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration in some form, by injected humour, or
                  randomised words which don't look even slightly believable. If you are
                  going to use a passage of Lorem Ipsum, you need to be sure.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(24).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">Betty Walker</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 30, 2021
                    <span class="badge bg-primary">Pending</span>
                  </p>
                  <a href="#!" class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                  <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                </div>
                <p class="mb-0">
                  It uses a dictionary of over 200 Latin words, combined with a handful of
                  model sentence structures, to generate Lorem Ipsum which looks
                  reasonable. The generated Lorem Ipsum is therefore always free from
                  repetition, injected humour, or non-characteristic words etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
